.vs/BeatSaber_JDFixerModifiers/FileContentIndex/c81c099d-3657-448e-b509-0c1cd89d8dd6.vsidx
.vs/BeatSaber_JDFixerModifiers/FileContentIndex/read.lock
.vs/BeatSaber_JDFixerModifiers/v17/.suo
BeatSaber_JDFixerModifiers/bin/Release/JDFixerModifiers.dll
BeatSaber_JDFixerModifiers/bin/Release/JDFixerModifiers.pdb
BeatSaber_JDFixerModifiers/bin/Release/Microsoft.Build.Framework.dll
BeatSaber_JDFixerModifiers/bin/Release/Microsoft.Build.Framework.pdb
BeatSaber_JDFixerModifiers/bin/Release/Microsoft.Build.Tasks.Core.dll
BeatSaber_JDFixerModifiers/bin/Release/Microsoft.Build.Tasks.Core.pdb
BeatSaber_JDFixerModifiers/bin/Release/Microsoft.Build.Utilities.Core.dll
BeatSaber_JDFixerModifiers/bin/Release/Microsoft.Build.Utilities.Core.pdb
BeatSaber_JDFixerModifiers/bin/Release/Microsoft.VisualStudio.Setup.Configuration.Interop.dll
BeatSaber_JDFixerModifiers/bin/Release/System.Buffers.dll
BeatSaber_JDFixerModifiers/bin/Release/System.Collections.Immutable.dll
BeatSaber_JDFixerModifiers/bin/Release/System.Memory.dll
BeatSaber_JDFixerModifiers/bin/Release/System.Numerics.Vectors.dll
BeatSaber_JDFixerModifiers/bin/Release/System.Resources.Extensions.dll
BeatSaber_JDFixerModifiers/bin/Release/System.Runtime.CompilerServices.Unsafe.dll
BeatSaber_JDFixerModifiers/bin/Release/System.Threading.Tasks.Dataflow.dll
BeatSaber_JDFixerModifiers/bin/Release/Artifact/Plugins/BeatSaber_JDFixerModifiers.dll
BeatSaber_JDFixerModifiers/bin/Release/Artifact/Plugins/BeatSaber_JDFixerModifiers.pdb
BeatSaber_JDFixerModifiers/bin/Release/Artifact/Plugins/JDFixerModifiers.dll
BeatSaber_JDFixerModifiers/bin/Release/Artifact/Plugins/JDFixerModifiers.pdb
BeatSaber_JDFixerModifiers/bin/Release/zip/BeatSaber_JDFixerModifiers-0.0.1-bs1.29.1-d38e9a8.zip
BeatSaber_JDFixerModifiers/bin/Release/zip/JDFixerModifiers-0.0.1-bs1.29.1-d38e9a8.zip
BeatSaber_JDFixerModifiers/obj/BeatSaber_JDFixerModifiers.csproj.nuget.dgspec.json
BeatSaber_JDFixerModifiers/obj/BeatSaber_JDFixerModifiers.csproj.nuget.g.props
BeatSaber_JDFixerModifiers/obj/BeatSaber_JDFixerModifiers.csproj.nuget.g.targets
BeatSaber_JDFixerModifiers/obj/project.assets.json
BeatSaber_JDFixerModifiers/obj/project.nuget.cache
BeatSaber_JDFixerModifiers/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
BeatSaber_JDFixerModifiers/obj/Debug/BeatSaber_JDFixerModifiers.csproj.AssemblyReference.cache
BeatSaber_JDFixerModifiers/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BeatSaber_JDFixerModifiers/obj/Release/.NETFramework,Version=v4.8.AssemblyAttributes.cs
BeatSaber_JDFixerModifiers/obj/Release/BeatSaber_JDFixerModifiers.csproj.AssemblyReference.cache
BeatSaber_JDFixerModifiers/obj/Release/BeatSaber_JDFixerModifiers.csproj.CopyComplete
BeatSaber_JDFixerModifiers/obj/Release/BeatSaber_JDFixerModifiers.csproj.CoreCompileInputs.cache
BeatSaber_JDFixerModifiers/obj/Release/BeatSaber_JDFixerModifiers.csproj.FileListAbsolute.txt
BeatSaber_JDFixerModifiers/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
BeatSaber_JDFixerModifiers/obj/Release/JDFixerModifiers.dll
BeatSaber_JDFixerModifiers/obj/Release/JDFixerModifiers.pdb
/BeatSaber_JDFixerModifiers/bin/Release/zip
/.vs/BeatSaber_JDFixerModifiers/FileContentIndex
/.vs/BeatSaber_OffsetFixer
/BeatSaber_OffsetFixer/bin/Release
/BeatSaber_OffsetFixer/obj
/.vs
/BeatSaber_OffsetFixer/.vs
/packages/BepInEx.AssemblyPublicizer.MSBuild.0.4.1
*.htm
